TEAM TEAM1_NAME:TEAM1_COLOUR:TEAM1_DESCRIPTION
CAR TEAM1_NAME:team1_model.h5:TEAM1_CAR1_NAME
CAR TEAM1_NAME:team1_model2.h5:TEAM1_CAR2_NAME

TEAM TEAM2_NAME:TEAM2_COLOUR:TEAM2_DESCRIPTION
CAR TEAM2_NAME:team1_model.h5:TEAM2_CAR1_NAME
CAR TEAM2_NAME:team2_model.h5:TEAM2_CAR2_NAME
